@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

.megrim {
  font-family: 'Megrim', sans-serif;
}
.logo{
  height: 120px;
}

.icon{
  height: 35px;
}
.navbar-container {
  position: relative;
}

.navbar-placeholder {
  width: 120px; /* Ajustez cette largeur selon la taille des éléments dans le navbar collapse */
}

.navbar-collapse-container {
  display: flex;
  align-items: center;
  justify-content: center;
}