@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

.App{
  font-family: 'Libre Caslon Display', serif;
  overflow-x: hidden;
}
.megrim {
  font-family: 'Megrim', sans-serif;
}
.logo {
  height: 80px;
  @media (min-width: 768px) {
    height: 120px;
  }
}

.icon {
  height: 30px;
  @media (min-width: 768px) {
    height: 45px;
  }
}
.navbar-container {
  position: relative;
}

.navbar-placeholder {
  width: 80px;
  @media (min-width: 768px) {
    width: 120px;
  }
}


.navbar-collapse-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-creme{
  background-color: #EDDFBD;
}

.text-creme{
  color: #B08553;
}

.product{
  position: relative;
  width: 100%;
  height: 800px;
  background-color:#EDDFBD;
  overflow: visible;
}
.card2 {
  width: 520px;
  height: 590px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  align-items: center;
}
.center-text {
  position: absolute;
  font-family: 'Megrim';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 64px; /* Ajustez la taille de la police selon vos besoins */
  z-index: 1; /* Assurez-vous que le texte reste au-dessus des autres éléments */
  padding: 10px; /* Optionnel : un peu de padding autour du texte */
  border-radius: 10px; /* Optionnel : arrondir les coins du fond */
}

.card2 .card-body {
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

.center-text {
  position: absolute;
  font-family: 'Megrim';
  top: 50%;
  left: 50%;
  text-align: center; 
  font-size: 64px; 
  z-index: 1; 
  padding: 10px; 
}
