@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

.Home{
  overflow-x: hidden;
}
.libre {
  font-family: 'Libre Caslon Display', serif;
}
.megrim {
  font-family: 'Megrim', sans-serif;
}
.logo {
  height: 80px;
  @media (min-width: 768px) {
    height: 120px;
  }
}

.icon {
  height: 30px;
  @media (min-width: 768px) {
    height: 45px;
  }
}
.navbar-container {
  position: relative;
}

.navbar-placeholder {
  width: 80px;
  @media (max-width: 768px) {
   display: none;
  }
}

.navbar-collapse-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-creme{
  background-color: #EDDFBD;
}

.text-creme{
  color: #B08553;
}

/* .card2 {
  width: 520px;
  height: 590px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  align-items: center;
}*/
.center-text {
  font-size: 64px;
}
/*
.card2 .card-body {
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

.center-text {
  position: absolute;
  font-family: 'Megrim';
  top: 50%;
  left: 50%;
  text-align: center; 
  font-size: 64px; 
  z-index: 1; 
  padding: 10px; 
} */
